body {
    margin: 0;
    
   
    background: url('https://source.unsplash.com/1600x900/?landscape');
    color: black;
    font-family: 'Lobster', cursive;
    font-family: 'Patua One', cursive;
    justify-content: center;
}




.navigation{
	width: 100%;
	height: 2em;
	background: #333945;
	padding: 1.5em 0em 0.5em 0em;
	display: grid;
	grid: 20px / auto auto auto auto auto auto;
}

.sticky{  /* Scroll Effect Class. */
	width: 100%;
	position: fixed;
	height: 2em;
	background: #333945;
	padding: 1.5em 0em 0.5em 0em;
	display: grid;
	grid: 20px / auto auto auto auto auto auto;
	opacity: 0.95;
}

.navBar i, .navBar a, #bar{
	display: none;
}

#panelTwo{
	display: none;
}

#home, #contact, #about, #gallery, #review, #book{
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	font-size: 1em;
	letter-spacing: 0.25em;
	background-color: #333945;
	color: #EAF0F1;
}

#book{
	border-style: solid;
	border-color: #fff;
	padding: 0.5em 2em;
	transition: all 0.5s;
}

#book:hover{
	background: #fff;
	color: #000;
}

#home:hover, #contact:hover, #about:hover, #gallery:hover, #review:hover{
	color: #758AA2;
}

a{
	text-decoration: none;
	background-color: #333945;
}

form {
    display: flex;
    justify-content: center;
    margin: 10em;
    background: darkgrey;
    
}